*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
 height: 100vh;
 width: 100vw;
 display: flex;
 flex-wrap: wrap;
}

.square{
    height: calc(100%/6);
    width: calc(100%/6);
    border: 5px solid black;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

}
.green{
    background-color: green;

}
.yellow{
    background-color: yellow;

}
